package apps

import (
	"github.com/jacobsky/apparently-typing/internal/views"
	"github.com/jacobsky/apparently-typing/internal/views/apphealth"
)

templ AppCard(appname, appid string) {
	<article class="card">
		<div class="row">
			@apphealth.Indicator(appid)
			<h5>{ appname } </h5>
		</div>
		{ children... }
		<a class="responsive" href={ apphealth.AppURLs[appid] } target="_blank">Go to App</a>
	</article>
}

templ Index() {
	@views.Layout("Apps") {
		<h1 class="center-align">Apparently Apps</h1>
		<hr class="medium"/>
		<section class="middle-align margin large">
			<div class="grid large-space wrap">
				if apphealth.AppHealth.Read(apphealth.HIRE) {
					<div class="s6 m6 l6">
						@AppCard("Scout Me", apphealth.HIRE) {
							<p>A business card with a simple contact form that anyone interested in hiring me can use to reach out to me anonymously with the information that I am interested in.</p>
						}
					</div>
				}
				<div class="s6 m6 l6">
					@AppCard("Japanese Assistant", apphealth.JPASSISTANT) {
						<p>An LLM powered assistant aimed at providing assistance to Japanese learners. Note: Accuracy is dependent on model and endpoint</p>
					}
				</div>
				<div class="s6 m6 l6">
					@AppCard("Checkpoint", apphealth.CHECKPOINT) {
						<p>A more involved reactive application dedicated to one of my favorite bits of internet culture.</p>
					}
				</div>
				<div class="s6 m6 l6">
					@AppCard("Experiments", apphealth.DEMOS) {
						<p>A collection of small applications built using my preferred web stack. Applications are more focused on how it is possible to create shared state among multiple users.</p>
					}
				</div>
			</div>
		</section>
	}
}
